.container{
    width: 100%;
    text-align: center;
    overflow:auto;
    overflow-x: auto;
}    


.tooltip{
    background-color: lightgrey;
    position: absolute;
    opacity: 0;
    width: 200px;
    padding: 5px;
    text-align: center;
}

    .chartdiv{
        overflow-x: auto;
    }

    .chart{
        width: 300%;
    }